header {
    padding: 60px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}


@media only screen and (max-width: 715px) {
}


@media only screen and (max-width: 990px) {
}


@media only screen and (min-width: 901px) {
}
